/* .ant-steps-item-container {
  padding: 0px !important;
  margin: 0px !important;
}
div#container {
  padding-left: 0px !important;
}

.div .ant-steps-item-container {
  padding: 0px !important;
  margin: 0px !important;
}

.ant-steps-item-content {
  padding: 0px !important;
  margin: 0px !important;
}

.ant-steps-item-icon {
  margin: 0px !important;
  padding: 0px !important;
}

.ant-steps-item-title {
  margin: 0px !important;
  padding: px !important;
}

.ant-steps-item-tail {
  margin: 0px !important;
  padding: 0px !important;
} */
